<script>
  $(document).ready(function() {
    
$('#tbl_rq').DataTable();
  $('#tbl_z_rq').DataTable();
} )
</script>
<script>
    var theme = {
             color: [
                 'green', 'blue', '#BDC3C7', 'yellow',
                 'red', 'pink', 'black','darkgrey', '#9B59B6'
             ],
    
             title: {
                 itemGap: 8,
                 textStyle: {
                     fontWeight: 'normal',
                     color: '#408829'
                 }
             },
    
             dataRange: {
                 color: ['#1f610a', '#97b58d']
             },
    
             toolbox: {
                 color: ['#408829', '#408829', '#408829', '#408829']
             },
    
             tooltip: {
                 backgroundColor: 'rgba(0,0,0,0.5)',
                 axisPointer: {
                     type: 'line',
                     lineStyle: {
                         color: '#408829',
                         type: 'dashed'
                     },
                     crossStyle: {
                         color: '#408829'
                     },
                     shadowStyle: {
                         color: 'rgba(200,200,200,0.3)'
                     }
                 }
             },
    
             dataZoom: {
                 dataBackgroundColor: '#eee',
                 fillerColor: 'rgba(64,136,41,0.2)',
                 handleColor: '#408829'
             },
             grid: {
                 borderWidth: 0
             },
    
             categoryAxis: {
                 axisLine: {
                     lineStyle: {
                         color: '#408829'
                     }
                 },
                 splitLine: {
                     lineStyle: {
                         color: ['#eee']
                     }
                 }
             },
    
             valueAxis: {
                 axisLine: {
                     lineStyle: {
                         color: '#408829'
                     }
                 },
                 splitArea: {
                     show: true,
                     areaStyle: {
                         color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
                     }
                 },
                 splitLine: {
                     lineStyle: {
                         color: ['#eee']
                     }
                 }
             },
             timeline: {
                 lineStyle: {
                     color: '#408829'
                 },
                 controlStyle: {
                     normal: {color: '#408829'},
                     emphasis: {color: '#408829'}
                 }
             },
    
             k: {
                 itemStyle: {
                     normal: {
                         color: '#68a54a',
                         color0: '#a9cba2',
                         lineStyle: {
                             width: 1,
                             color: '#408829',
                             color0: '#86b379'
                         }
                     }
                 }
             },
             map: {
                 itemStyle: {
                     normal: {
                         areaStyle: {
                             color: '#ddd'
                         },
                         label: {
                             textStyle: {
                                 color: '#c12e34'
                             }
                         }
                     },
                     emphasis: {
                         areaStyle: {
                             color: '#99d2dd'
                         },
                         label: {
                             textStyle: {
                                 color: '#c12e34'
                             }
                         }
                     }
                 }
             },
             force: {
                 itemStyle: {
                     normal: {
                         linkStyle: {
                             strokeColor: '#408829'
                         }
                     }
                 }
             },
             chord: {
                 padding: 4,
                 itemStyle: {
                     normal: {
                         lineStyle: {
                             width: 1,
                             color: 'rgba(128, 128, 128, 0.5)'
                         },
                         chordStyle: {
                             lineStyle: {
                                 width: 1,
                                 color: 'rgba(128, 128, 128, 0.5)'
                             }
                         }
                     },
                     emphasis: {
                         lineStyle: {
                             width: 1,
                             color: 'rgba(128, 128, 128, 0.5)'
                         },
                         chordStyle: {
                             lineStyle: {
                                 width: 1,
                                 color: 'rgba(128, 128, 128, 0.5)'
                             }
                         }
                     }
                 }
             },
             gauge: {
                 startAngle: 225,
                 endAngle: -45,
                 axisLine: {
                     show: true,
                     lineStyle: {
                         color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
                         width: 8
                     }
                 },
                 axisTick: {
                     splitNumber: 10,
                     length: 12,
                     lineStyle: {
                         color: 'auto'
                     }
                 },
                 axisLabel: {
                     textStyle: {
                         color: 'auto'
                     }
                 },
                 splitLine: {
                     length: 18,
                     lineStyle: {
                         color: 'auto'
                     }
                 },
                 pointer: {
                     length: '90%',
                     color: 'auto'
                 },
                 title: {
                     textStyle: {
                         color: '#333'
                     }
                 },
                 detail: {
                     textStyle: {
                         color: 'auto'
                     }
                 }
             },
             textStyle: {
                 fontFamily: 'Arial, Verdana, sans-serif'
             }
         };
    var echartLine = echarts.init(document.getElementById('echart_line'), theme);
    
        echartLine.setOption({
          title: {
            text: "Faculty-Wise Material(%) Distribution.",
            subtext:''
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            x: 220,
            y: 40,
            data: ['100L', '200L', '300L', '400L', '500L','PGD','Masters']
          },
          toolbox: {
            show: true,
            feature: {
              magicType: {
                show: true,
                title: {
                  line: 'Line',
                  bar: 'Bar',
                  stack: 'Stack',
                  tiled: 'Tiled'
                },
                type: ['bar','line',  'stack', 'tiled']
              },
              restore: {
                show: true,
                title: "Restore"
              },
              saveAsImage: {
                show: true,
                title: "Save Image"
              }
            }
          },
          calculable: true,
          xAxis: [{
            type: 'category',
            axisLabel: {
               interval: 0,
               rotate: 45,
             },
            boundaryGap: true,
            data: <?php echo json_encode($ZoneStr); ?>}],
            // data: ["FE-.AGE","FE-BIO","FE-CHM","FE-INT","FE-ITT","FE-MTH","FE-PHY","FE-ECE","FE-ENG","FE-FRE","FE-PED","FE-BUS","PG-EDU","ME-EDA","ME-SED","ME-EDT","ME-EGC"]        }],
          yAxis: [{
            type: 'value'
          }],
    series: [{
      name: '100L',
            type: 'bar',
            smooth: true,
            itemStyle: {
              normal: {
                areaStyle: {
                  type: 'default'
                }
              }
            },
            data: <?php echo json_encode($fag); ?>
            // data: ["2.65","3.68","5.00","0.98","2.72","6.86","3.61","3.50","3.77","7.75","1.80","2.36","15.05","10.72","20.53","12.55","12.56"]
          }, {
            name: '200L',
            type: 'bar',
            smooth: true,
            itemStyle: {
              normal: {
                areaStyle: {
                  type: 'default'
                }
              }
            },
            data: <?php echo json_encode($foa); ?>
            // data: ["27.86","29.07","31.41","18.46","28.20","34.76","32.52","30.02","27.27","43.31","21.14","26.53","65.85","58.42","55.21","59.69","60.47"]
          }, {
            name: '300L',
            type: 'bar',
            smooth: true,
            itemStyle: {
              normal: {
                areaStyle: {
                  type: 'default'
                }
              }
            },
            data: <?php echo json_encode($foe); ?>
            // data: ["47.41","47.64","43.66","49.67","46.70","42.65","45.42","46.36","43.87","36.97","47.02","47.05","19.09","30.76","24.26","27.72","26.74"]
          }, {
            name: '400L',
            type: 'bar',
            smooth: true,
            itemStyle: {
              normal: {
                areaStyle: {
                  type: 'default'
                }
              }
            },
            data: <?php echo json_encode($foh); ?>
            // data: ["19.60","16.96","17.17","25.16","19.55","13.20","16.39","17.31","21.31","10.56","25.32","21.01","0.00","0.05","0.00","0.05","0.23"]
          }, {
            name: '500L',
            type: 'bar',
            smooth: true,
            itemStyle: {
              normal: {
                areaStyle: {
                  type: 'default'
                }
              }
            },
            data: <?php echo json_encode($fol); ?>
            // data: ["2.48","2.66","2.76","5.72","2.83","2.54","2.06","2.80","3.79","1.41","4.72","3.05","0.00","0.06","0.00","0.00","0.00"]
          },{
              name: 'PGD',
              type: 'bar',
              smooth: true,
              itemStyle: {
                normal: {
                  areaStyle: {
                    type: 'default'
                  }
                }
              },
              data: <?php echo json_encode($fom); ?>
            // data: ["19.60","16.96","17.17","25.16","19.55","13.20","16.39","17.31","21.31","10.56","25.32","21.01","0.00","0.05","0.00","0.05","0.23"]
          }, {
              name: 'Masters',
              type: 'bar',
              smooth: true,
              itemStyle: {
                normal: {
                  areaStyle: {
                    type: 'default'
                  }
                }
              },
              data: <?php echo json_encode($fos); ?>
              // data: ["19.60","16.96","17.17","25.16","19.55","13.20","16.39","17.31","21.31","10.56","25.32","21.01","0.00","0.05","0.00","0.05","0.23"]
    
          }]
        });
    </script>