<!-- ================== BEGIN BASE JS ================== -->
<script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
  <script src="assets/crossbrowserjs/html5shiv.js"></script>
  <script src="assets/crossbrowserjs/respond.min.js"></script>
  <script src="assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="assets/plugins/morris/raphael.min.js"></script>
  <script src="assets/plugins/morris/morris.js"></script>
  <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
  <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js"></script>
  <script src="assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
<script src="assets/plugins/gritter/js/jquery.gritter.js"></script>

<link href="assets/plugins/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet" />
  <script src="assets/plugins/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
<!-- <script src="assets/js/dashboard-v2.min.js"></script> -->
<script src="assets/js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

    <!-- <script src="inc/actions.js"></script> -->
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			DashboardV2.init();
     
			
		function checkLoginStatus(){
		    var _delay = 3000;
         $.get("checkStatus.php", function(data){
            if(data=="0" || data==null) {
                
                swal({title:"Expired",
                            text:"Your session expired. You have to login afresh.",
                            customClass:"swal-size-sm",
                            showCancelButton: false,
                            closeOnConfirm:true,
                            titleClass:"text-green"
                          },function(isConfirm){ 
                            if (isConfirm){
                              window.location = "./";
                            }
                        })
                
            }
            setTimeout(function(){  checkLoginStatus(); }, _delay);
            });
        }
        checkLoginStatus();
		});

        $(function(){
            $("a.hidelink").each(function (index, element){
                var href = $(this).attr("href");
                $(this).attr("hiddenhref", href);
                $(this).removeAttr("href");
            });
            $("a.hidelink").click(function(){
                url = $(this).attr("hiddenhref");
                window.open(url, '_self');
            })
        });
     /*
 Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
 Version: 2.1.0
 Author: Sean Ngu
 Website: http://www.seantheme.com/color-admin-v2.1/admin/html/
 */

handleVisitorsLineChart = function () {
    var a = "#0D888B", b = "#00ACAC", c = "#348FE2", d = "#3273B1", e = "rgba(0,0,0,0.6)", f = "rgba(255,255,255,0.4)";
    Morris.Line({
        element: "visitors-line-chart",
        data:<?php echo $data;?>,       
    xkey: 'y',
    xLabelMargin: 10,
    gridTextFamily: 'mtsRegular',
    parseTime: false,
    ykeys: ['a', 'b', 'c'],  
  labels: ['Transcript Request', 'Letter Request','Certificate Request'],
  lineColors: [a, b, c],
        pointFillColors: [b, d],
        lineWidth: "2px",
        pointStrokeColors: [e, e],
        resize: !0,
        gridTextFamily: "Open Sans",
        gridTextColor: f,
        gridTextWeight: "normal",
        gridTextSize: "11px",
        gridLineColor: "rgba(0,0,0,0.5)",
        hideHover: "auto"
})

}, handleVisitorsDonutChart = function () {
    var a = "#00acac", b = "#348fe2",c = "rgba(255,0,0,0.4)";
 
  var trans = <?php echo json_encode($Transcript); ?>;
  var letter = <?php echo json_encode($Letters); ?>;
  var cert = <?php echo json_encode($Certificates); ?>;
    Morris.Donut({
        element: "visitors-donut-chart",
        data: [{label: "Transcripts", value:trans}, {label: "Letters", value:letter}, {label: "Certificates", value:cert}],
        colors: [a, b, c],
        labelFamily: "Open Sans",
        labelColor: "rgba(255,255,255,0.4)",
        labelTextSize: "12px",
        backgroundColor: "#242a30",
        resize:true
    })

}, handleVisitorsVectorMap = function () {
    0 !== $("#visitors-map").length && $("#visitors-map").vectorMap({
        map: "world_merc_en",
        scaleColors: ["#e74c3c", "#0071a4"],
        container: $("#visitors-map"),
        normalizeFunction: "linear",
        hoverOpacity: .5,
        hoverColor: !1,
        markerStyle: {initial: {fill: "#4cabc7", stroke: "transparent", r: 3}},
        regions: [{attribute: "fill"}],
        regionStyle: {
            initial: {
                fill: "rgb(97,109,125)",
                "fill-opacity": 1,
                stroke: "none",
                "stroke-width": .4,
                "stroke-opacity": 1
            }, hover: {"fill-opacity": .8}, selected: {fill: "yellow"}, selectedHover: {}
        },
        series: {regions: [{values: {IN: "#00acac", US: "#00acac", KR: "#00acac"}}]},
        focusOn: {x: .5, y: .5, scale: 2},
        backgroundColor: "#2d353c"
    })
}, handleScheduleCalendar = function () {
    var a = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        b = ["S", "M", "T", "W", "T", "F", "S"], c = new Date, d = c.getMonth() + 1, e = c.getFullYear(),
        f = [["2/" + d + "/" + e, "Popover Title", "#", "#00acac", "Some contents here"], ["5/" + d + "/" + e, "Tooltip with link", "http://www.seantheme.com/color-admin-v1.3", "#2d353c"], ["18/" + d + "/" + e, "Popover with HTML Content", "#", "#2d353c", 'Some contents here <div class="text-right"><a href="http://www.google.com">view more >>></a></div>'], ["28/" + d + "/" + e, "Color Admin V1.3 Launched", "http://www.seantheme.com/color-admin-v1.3", "#2d353c"]],
        g = $("#schedule-calendar");
    $(g).calendar({
        months: a,
        days: b,
        events: f,
        popover_options: {placement: "top", html: !0}
    }), $(g).find("td.event").each(function () {
        var a = $(this).css("background-color");
        $(this).removeAttr("style"), $(this).find("a").css("background-color", a)
    }), $(g).find(".icon-arrow-left, .icon-arrow-right").parent().on("click", function () {
        $(g).find("td.event").each(function () {
            var a = $(this).css("background-color");
            $(this).removeAttr("style"), $(this).find("a").css("background-color", a)
        })
    })
}, handleDashboardGritterNotification = function () {
    $(window).load(function () {
        setTimeout(function () {
            $.gritter.add({
                title: "Welcome back, Admin!",
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus lacus ut lectus rutrum placerat.",
                image: "assets/img/user-14.jpg",
                sticky: !0,
                time: "",
                class_name: "my-sticky-class"
            })
        }, 1e3)
    })
    
}, 


DashboardV2 = function () {
    "use strict";
    return {
        init: function () {
            handleVisitorsLineChart(), handleVisitorsDonutChart(), handleVisitorsVectorMap(), handleScheduleCalendar(), handleDashboardGritterNotification()
        }
    }
}();


</script>