<head> 
    <meta charset="utf-8">
    <title>NOUN | ST&D Information Management System</title>
    <link rel="icon" type="image/png" href="assets/img/Logo-1-257x300.png">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

   

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
     <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet">
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <link href="assets/css/style.min.css" rel="stylesheet">
    <link href="assets/css/style-responsive.min.css" rel="stylesheet">
    <link href="assets/css/invoice-print.min.css" rel="stylesheet" />
    <link href="assets/css/theme/default.css" rel="stylesheet" id="theme">
    <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/chart-js/Chart.min.js"></script>
    <script src="assets/js/chart-js.demo.min.js"></script>
    
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet">
    <link href="assets/plugins/parsley/src/parsley.css" rel="stylesheet">
    <link href="assets/plugins/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="assets/plugins/morris/morris.css" rel="stylesheet" />
    <!-- <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" /> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous"> -->

 
  	<!-- <script src="assets/plugins/pace/pace.min.js"></script> -->


  <link href="assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/DataTables/extensions/Select/css/select.bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
  
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
     <!-- Load jQuery first -->
		 <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
     <link href="assets/css/toptile.css" rel="stylesheet" />

    <!-- jQuery UI for sortable functionality -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


    <!-- SweetAlert2 for alert messages -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/plugins/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/plugins/bootstrap-wizard/js/bwizard.js"></script> 

    <!-- Pace for loading progress -->
    <script src="assets/plugins/pace/pace.min.js"></script>
    <script src="assets/js/apps.min.js"></script>
    <!-- ================== END BASE JS ================== -->    
</head>
